/* 전체 컨테이너의 레이아웃을 설정 */
body>main {
    display: flex;
    justify-content: space-between;
    padding: 0;
    overflow-y: auto;
}

/* 부서 목록의 스타일 */
.departments-container {
    width: 30%;
    border-right: 1.4px solid var(--pico-contrast-hover-border);
    padding: 10px;
}

/* 사용자 목록의 스타일 */
.user-container {
    width: 70%;
    height: 100vh;
    padding: 10px;
    position: relative; /* To position the search bar correctly */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* 검색 바의 스타일 */
/* .search-bar {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    z-index: 10; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.user-container>main {
    overflow-y: auto;
    padding: 10px 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    position: relative;
    flex-grow: 1;
}
.user-container>main:-webkit-scrollbar {
    display: none;
}

/* 부서 아이템의 스타일 */
.department-item {
    cursor: pointer;
    /* padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px; */
}
.department-item:hover {
    outline: 1.4px solid var(--pico-contrast-hover-border);
}

/* 사용자 카드의 스타일 */
.user-card {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 내용이 카드의 왼쪽에 맞춰지도록 */
    width: 100%; /* 카드의 너비를 고정 */
    height: 20%;
    /* height: 200px; 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;  */
    position: relative; /* 버튼 위치 조정을 위해 */
    align-items: stretch;
    padding: 0;
}

/* 프로필 사진의 스타일 */
.profile-pic {
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 16px;
    object-fit: cover; /* 이미지 비율 유지 */
}

/* 사용자 정보의 스타일 */
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 정보가 카드 중앙에 맞춰지도록 */
    max-width: calc(100% - 80px); /* 프로필 사진과 패딩을 고려한 최대 너비 */
}

/* 채팅 버튼의 스타일 */
.chat-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px 10px;
    /* border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer; */
    font-size: 14px;
}

.chat-button:hover {
    background-color: #0056b3;
}

.scroll {
    position: absolute;
    width: 16px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--pico-contrast-background);
    opacity: 0.5;
    margin-top: 10px;
    top: 0;
    right: 0;
    z-index: 1;
}