body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #FFFFFE;
}

.container {
    width: 1440px;
    height: 900px;
    position: relative;
}

.sidebar {
    width: 501px;
    height: 900px;
    left: 939px;
    top: 0px;
    position: absolute;
    background: #0A2FB6;
}

.icon-circle {
    position: absolute;
    border-radius: 9999px;
    border: 1px rgba(255, 255, 255, 0.50) solid;
}

.icon-circle-1 {
    width: 47px;
    height: 45px;
    left: 1324px;
    top: 877px;
}

.icon-circle-2 {
    width: 66px;
    height: 63px;
    left: 1315px;
    top: 536px;
}

.icon-circle-3 {
    width: 27px;
    height: 26px;
    left: 1154px;
    top: 850px;
}

.icon-circle-4 {
    width: 27px;
    height: 26px;
    left: 1367px;
    top: 44px;
}

.icon-circle-5 {
    width: 41px;
    height: 39px;
    left: 1041px;
    top: 61px;
}

.icon-circle-6 {
    width: 14px;
    height: 13px;
    left: 983px;
    top: 837px;
}

.main-image {
    width: 653px;
    height: 739px;
    left: 714px;
    top: 80px;
    position: absolute;
    background: linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%);
    border-radius: 20px;
}

.header {
    left: 48px;
    top: 33px;
    position: absolute;
    color: #0A2FB6;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
}

.content {
    width: 419px;
    height: 354px;
    left: 152px;
    top: 165px;
    position: absolute;
}

.title {
    color: black;
    font-size: 35px;
    font-family: Open Sans;
    font-weight: 600;
    word-wrap: break-word;
}

.subtitle {
    width: 419px;
    height: 29px;
    color: #263A43;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 600;
    line-height: 31.30px;
    word-wrap: break-word;
    margin-top: 80px;
}

.input-container {
    width: 399px;
    height: 70px;
    position: relative;
    margin-top: 60px;
}

.input-field {
    width: 399px;
    height: 70px;
    background: white;
    border-radius: 6px;
    border: 0.60px #B1B1B1 solid;
    padding-left: 16px;
    font-size: 17px;
    font-family: Nunito Sans;
    font-weight: 300;
    line-height: 26.61px;
    box-sizing: border-box;
}

.input-indicator {
    width: 399px;
    height: 4px;
    background: #54E28D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 0;
}

.next-button {
    width: 399px;
    height: 70px;
    position: absolute;
    bottom: 0;
    background: #0A2FB6;
    box-shadow: 0px 4px 30px rgba(38, 58, 67, 0.15);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-text {
    color: white;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 700;
    line-height: 31.30px;
}
