.input-group {
    width: 80%;
    text-align: center;
}
.input-group label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

#moai-title:hover {
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
}

input {
    padding: 10px;
    margin-top: 10px;
}

#submitBtn{
    margin-top: 10px;
}