.input-group {
    width: 80%;
}
.input-group label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.phone-seperator {
    padding: 10px;
}

.phone-container, .auth-code-container {
    width: 399px;
    position: relative;
    margin-top: 20px;
}

.phone-field, .auth-code-field {
    width: 100%;
    height: 70px;
    background: white;
    border-radius: 6px;
    border: 0.60px #B1B1B1 solid;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 300;
    line-height: 31.30px;
    padding-left: 22px;
    box-sizing: border-box;
}

.phone-indicator, .auth-code-indicator {
    width: 100%;
    height: 4px;
    background: #54E28D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 0;
}

.auth-code-container {
    height: 77px;
}

.auth-code-field {
    border: 0.60px #B1B1B1 solid;
}

.auth-code-indicator {
    height: 4.40px;
}

#moai-title:hover {
    cursor: pointer;
}

/* Buttons */
.verify-button {
    width: 100%;
    height: 70px;
    background: #0A2FB6;
    box-shadow: 0px 4px 30px rgba(38, 58, 67, 0.15);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
}

/* Bottom Container */
.bottom-container {
    width: 399px;
    position: absolute;
    left: 152px;
    top: 536px;
}

.bottom-field {
    width: 100%;
    height: 70px;
    background: #0A2FB6;
    box-shadow: 0px 4px 30px rgba(38, 58, 67, 0.15);
    border-radius: 6px;
}

.bottom-auth-container {
    width: 399px;
    height: 77px;
    position: relative;
    margin-top: 20px;
}

.bottom-auth-field {
    width: 90px;
    height: 76px;
    background: white;
    border-radius: 6px;
    border: 0.60px #B1B1B1 solid;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 300;
    line-height: 31.30px;
    padding-left: 17px;
    box-sizing: border-box;
}

.bottom-auth-indicator {
    width: 90px;
    height: 4.34px;
    background: #54E28D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 0;
}

.bottom-auth-text {
    width: 56px;
    height: 76px;
    color: white;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 700;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

/* Verify Icon */
.verify-icon-container {
    width: 59px;
    height: 59px;
    position: absolute;
    left: 571px;
    top: 290px;
}

.verify-icon {
    width: 59px;
    height: 59px;
    background: linear-gradient(180deg, #2B7AFB 0%, #2174FD 100%, #213BFD 100%);
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.22) inset;
    border-radius: 8px;
    border: 1px #174BD2 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-text {
    width: 55px;
    height: 51px;
    color: white;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 700;
    line-height: 31.30px;
    text-align: center;
    position: absolute;
    top: 5px;
}

/* Additional Circle */
.additional-circle {
    width: 45px;
    height: 45px;
    background: #2388FF;
    position: absolute;
    left: 578px;
    top: 416px;
}

main {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
}

input {
    padding: 10px;
    margin-top: 10px;
}

#submitBtn{
    margin-top: 10px;
}