.input-group {
  width: 80%;
}
.input-group label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.forgot-password,
.signup-link {
  font-size: 16px;
}
.forgot-password {
  text-align: right;
  margin-right: 75px;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  margin-left: 75px;
}

#moai-title:hover {
  cursor: pointer;
}
.input-group {
  position: relative;
  display: inline-block;
}

input[type="password"], input[type="text"] {
  width: 200px;
  padding-right: 30px; /* 아이콘 공간을 확보 */
  height: 30px;
}

#togglePassword {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}