.input-group {
  width: 80%;
}
.input-group label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.forgot-password,
.signup-link {
  font-size: 16px;
}
.forgot-password {
  text-align: right;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
}

#moai-title:hover {
  cursor: pointer;
}