#img-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-content {
    max-width: 80%;
}

div.main {
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    width: 85%;
    /* flex-grow: 1; */
}

.sidebar {
    width: 15%;
    min-width: 300px;
    height: 100vh;
    padding: 24px;
    /* background: #F7F8FA; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    background: #F6FAFF;
    border-radius: 50%;
}

.user-name {
    font-size: 14px;
    font-weight: 500;
}

.actions {
    display: flex;
    gap: 12px;
}

/* .action-icon {
    width: 16px;
    height: 16px;
    border: 1.3px solid #666F8D;
} */

.search-input {
    margin-top: 40px;
}

.search-input input {
    border: none;
    outline: none;
    color: #666F8D;
    font-size: 12px;
}

.search-btn {
    padding: 6px;
    background: var(--pico-mark-background-color);
    color: var(--pico-mark-color);
    box-shadow: 0px 1px 3px rgba(25, 33, 61, 0.10);
    border-radius: 4px;
    border: none;
    /* color: #19213D; */
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.menu-item {
    padding: 8px 12px;
    background: var(--pico-background-color);
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(25, 33, 61, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-item.active, .menu-item:hover {
    background: var(--pico-text-selection-color);
}

.menu-icon {
    background-color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-right: 4px;
    /* outline: 1.4px solid #666F8D; */
}

.menu-label {
    color: var(--pico-color);
    font-size: 14px;
    flex-grow: 1;
}

.badge {
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(25, 33, 61, 0.10);
    font-size: 12px;
    font-weight: 500;
    color: #19213D;
    text-align: center;
}

.additional-content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.additional-section {
    height: 43px;
    padding: 8px 12px;
    border-radius: 8px;
    background: white;
}

.placeholder {
    width: 248px;
    height: 116.9px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.main-content {
    flex-grow: 1;
    display: flex;
    padding: 24px;
    box-shadow: 0px 1px 3px rgba(25, 33, 61, 0.10);
    border-radius: 16px;
    /* border: 1px solid var(--pico-primary-border); */
    height: 100vh;
}

.calendar {
    flex-grow: 1;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 3px 0px 12px rgba(53, 62, 92, 0.07);
    border-left: 1.4px solid var(--pico-contrast-hover-border);
    border-right: 1.4px solid var(--pico-contrast-hover-border);
}

.note-section, .chat-section {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    /* padding: 32px 0; */
    display: flex;
    flex-direction: column;
    height: 50%;
}

.note-section, .chat-section main {
    flex-grow: 1;
}

.right-content {
    display: flex;
    flex-direction: column;
    /* margin: 20px 0; */
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
}

/* 밑의 부분은 setting.ejs 부분 */

body {
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 배경색 설정 */
}

nav a {
    color: #ffffff; /* 네비게이션 링크 색상 */
    text-decoration: none;
    font-weight: bold;
}


.main-title {
    text-align: center;
    margin-bottom: 20px;
}

.title-text {
    font-size: 2rem;
    font-weight: bold;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image {
    margin-right: 15px;
}

.profile-image img {
    border-radius: 50%; /* 원형 이미지 */
    width: 120px;
    height: 120px;
    object-fit: cover; /* 이미지 자르기 */
}

.profile-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.logout-button {
    text-align: center;
    margin-top: 20px;
}

.logout-text {
    font-size: 1rem;
    color: #ff4d4d; /* 로그아웃 버튼 색상 */
    cursor: pointer;
    transition: color 0.3s;
}

.logout-text:hover {
    color: #ff1a1a; /* 호버 시 색상 변경 */
}