header {
    color: #0A2FB6;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
}
.sidebar {
    width: 500px;
    height: 100vh;
    top: 0px;
    right: 0px;
    position: absolute;
    background: #0A2FB6;
}
.main-image {
    width: 650px;
    height: 740px;
    right: 100px;
    position: absolute;
    background: linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%);
    border-radius: 20px;
}
.content {
    width: calc(100% - 750px);
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.welcome-message {
    width: 80%;
    height: 60px;
    padding: 6px 12px;
    box-shadow: 0px 1px 3px rgba(25, 33, 61, 0.10);
    border-radius: 8px;
    border: 1px var(--pico-contrast-border) solid;
    background-color: var(--pico-contrast-background);
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-text {
    color: var(--pico-contrast-inverse);
    text-align: center;
}