.input-group {
    width: 80%;
}
.input-group label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.phone-seperator {
    padding: 10px;
}
.password-strength {
    text-align: right;
}
#moai-title:hover {
    cursor: pointer;
}
button {
    white-space: nowrap;
}

body{
    -ms-overflow-style: none;
    }
    
   ::-webkit-scrollbar {
     display: none;
   }