.welcome-message {
    width: 80%;
    height: 60px;
    padding: 6px 12px;
    margin: auto 0;
    box-shadow: 0px 1px 3px rgba(25, 33, 61, 0.10);
    border-radius: 8px;
    border: 1px var(--pico-contrast-border) solid;
    background-color: var(--pico-contrast-background);
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-text {
    color: var(--pico-contrast-inverse);
    text-align: center;
}