<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Page with createRoot</title>
    <link rel="stylesheet" href="../css/pico_color.css">
    
    <link rel="stylesheet" href="https://unpkg.com/@toast-ui/calendar/dist/toastui-calendar.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tui-date-picker/dist/tui-date-picker.css">
    <link rel="stylesheet" href="https://unpkg.com/tui-time-picker/dist/tui-time-picker.css">
    <style>
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('/font/pretendard-regular') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        body {
            font-family: 'Pretendard-Regular';
            margin: 0;
            padding: 0 32px;
        }
        .App {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
        h1 {
            flex-grow: 0;
            margin: 0;
        }
        .container {
            flex-grow: 1;
        }
        .controls {
            flex-grow: 0;
            display: flex;
            justify-content: center;
            margin: 10px;
        }
        .control-button {
            background-color: #f0f0f0; /* 버튼 배경 색상 (밝은 회색) */
            border: 1px solid #ddd; /* 연한 테두리 */
            color: #333; /* 텍스트 색상 (어두운 회색) */
            padding: 8px 16px; /* 패딩 조정 */
            margin: 0 5px; /* 버튼 간의 간격 */
            border-radius: 20px; /* 완전한 둥근 모서리 */
            font-size: 14px; /* 폰트 크기 */
            cursor: pointer; /* 마우스 커서 변경 */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 효과 */
            transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 호버 애니메이션 */
        }
        
        .control-button:hover {
            background-color: #e0e0e0; /* 호버 시 배경 색상 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 효과 */
        }
        
        .control-button:focus {
            outline: none; /* 포커스 시 외곽선 제거 */
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* 포커스 시 그림자 효과 */
        }
        .toastui-calendar-popup-section-item.toastui-calendar-popup-section-private.toastui-calendar-popup-button {
            display: none;
        }
        .toastui-calendar-dropdown-section.toastui-calendar-calendar-section {
            visibility: hidden;
        }
        .toastui-calendar-popup-section-title input.toastui-calendar-content {
            width: 400px;
        }
        .toastui-calendar-popup-section-item .toastui-calendar-content {
            background-color: white;
            color: black;
        }
        .toastui-calendar-delete-button,.toastui-calendar-edit-button,.toastui-calendar-popup-container {
            color: black;
        }
        .toastui-calendar-weekday-event-dot+.toastui-calendar-weekday-event-title {
            color: var(--pico-color);
        }
    </style>
</head>
<body>
    <div id="root"></div>

    <!-- React와 ReactDOM을 CDN에서 로드 -->
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    
    <!-- Babel을 사용하여 브라우저에서 JSX를 변환 -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/@toast-ui/react-calendar"></script>
    

    <script>
        function uuid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        
    </script>
    <!-- JSX로 React 컴포넌트 작성 및 createRoot 사용 -->
    <script type="text/babel">
        const { useRef, useEffect, useState, getState } = React;
        const { ReactCalendar } = tui;
        // React 컴포넌트 정의
        const App = () => {
            const calendarRef = useRef(null);
            const [currentMonth, setCurrentMonth] = useState('');
            const [calendars] = useState([
                {
                    id: "cal1",
                    name: "개인",
                    backgroundColor: "#FF5733",
                    borderColor: "#FF5733",
                },
                {
                    id: "cal2",
                    name: "공유",
                    backgroundColor: '#33FF57',
                    borderColor: '#33FF57',
                }
            ]);

            useEffect(() => {
                const updateMonth = () => {
                if (calendarRef.current) {
                    const calendarInstance = calendarRef.current.getInstance();
                    const viewDate = calendarInstance.getDate();
                    setCurrentMonth(`${viewDate.getFullYear()}년 ${viewDate.getMonth() + 1}월`);
                }
                };

                updateMonth();
                const calendarInstance = calendarRef.current.getInstance();

                const loadEvents = async () => {
                    try {
                        let userId = await fetch('/session/user_id');
                        userId = await userId.text();
                        const response = await fetch(`/api/events/${userId}`);
                        if (response.ok) {
                            const events = await response.json();
                            //console.log('Loaded events:', events);
                            events.myCalendar.forEach((event) => {
                                const eventObj = {
                                    id: event.cal_id,
                                    title: event.cal_title,
                                    location: event.cal_location,
                                    state: event.cal_state,
                                    start: event.cal_start_date,
                                    end: event.cal_end_date,
                                    isAllday: event.is_allday,
                                    calendarId: event.cal_sub_id,
                                    attendees: [ event.user_name ],
                                    isReadOnly: false
                                }
                                calendarInstance.createEvents([eventObj]);                                
                            });
                            events.shareCalendar.forEach((event) => {
                                const eventObj = {
                                    id: event.cal_id,
                                    title: event.cal_title,
                                    location: event.cal_location,
                                    state: event.cal_state,
                                    start: event.cal_start_date,
                                    end: event.cal_end_date,
                                    isAllday: event.is_allday,
                                    calendarId: event.cal_sub_id,
                                    attendees: [ event.user_name ],
                                    isReadOnly: true
                                }
                                calendarInstance.createEvents([eventObj]);                                
                            });
                            //calendarInstance.createEvents(events);
                        } else {
                            console.log('Failed to load events from the server');
                        }
                    } catch (error) {
                        console.error('Error loading events:', error);
                    }
                };
        
                loadEvents();

                // 캘린더에 기본 일정 추가
                // calendarInstance.createEvents(initialSchedules);

                // 팝업에서 일정 생성하기 전에 호출되는 함수 & DB에 데이터 전송도 같이
                const handleBeforeCreateEvent = async (eventObj) => {
                    let userName = await fetch('/session/user_name'); // 실제로 로그인한 사용자로 대체
                    userName = await userName.text();
                    const newEvent = {
                        ...eventObj,
                        id: uuid(), // 고유 ID 생성
                        attendees: [ userName ]
                    };
                    // calendarInstance.createEvents([newEvent]);

                    const response = await fetch('/api/events', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(newEvent),
                    });

                    if (response.ok) {
                        // console.log('서버로 이벤트 보내는 거 성공적임');
                        // 캘린더에 이벤트를 추가
                        calendarInstance.createEvents([newEvent]);
                    } else {
                        console.log('Failed to send event to the server');
                    }
                };

                const handleBeforeUpdateEvent = async ({ event, changes }) => {
                    // console.log('Updating event:', event);
                    // console.log('Changes:', changes);
                
                    const updatedEvent = {
                        ...event,
                        ...changes,  // 기존 이벤트 객체에 변경된 부분만 덮어씌우기
                    };
                
                    try {
                        const response = await fetch(`/api/events/${event.id}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(updatedEvent),
                        });
                
                        if (response.ok) {
                            const updatedEventFromServer = await response.json();
                            // console.log('Updated event from server:', updatedEventFromServer);
                
                            // 변경된 정보로 업데이트
                            calendarInstance.updateEvent(event.id, event.calendarId, changes);
                        } else {
                            console.log('Failed to update event on the server');
                        }
                    } catch (error) {
                        console.error('Error updating event:', error);
                    }
                };
                

                const handleBeforeDeleteEvent = async ({ id, calendarId }) => {
                    // console.log('Deleting event:', id);
                
                    try {
                        // 서버로 삭제 요청 보내기
                        const response = await fetch(`/api/events/${id}`, {
                            method: 'DELETE',
                        });
                
                        if (response.ok) {
                            // 서버에서 삭제 성공 시 클라이언트의 캘린더에서 이벤트 삭제
                            // console.log('Event deleted successfully from the server');
                            calendarInstance.deleteEvent(id, calendarId);
                        } else {
                            console.log('Failed to delete event from the server');
                        }
                    } catch (error) {
                        console.error('Error deleting event:', error);
                    }
                };

                calendarInstance.on('beforeCreateEvent', handleBeforeCreateEvent);
                calendarInstance.on('beforeUpdateEvent', handleBeforeUpdateEvent);
                calendarInstance.on('beforeDeleteEvent', handleBeforeDeleteEvent);
            }, []);

            const calendarOptions = {
                week: {
                    dayNames: ['월', '화', '수', '목', '금', '토', '일'], // 요일 이름을 한글로 설정
                    startDayOfWeek: 0, // 일요일을 시작으로 설정 (0=일요일, 1=월요일)
                    narrowWeekend: true, // 주말을 좁게 표시
                },
                month: {
                    dayNames: ['일', '월', '화', '수', '목', '금', '토'], // 월간 보기에서 요일 이름 설정
                },
                template: {
                    popupIsAllday() {
                        return '하루종일';
                    },                    
                    locationPlaceholder() {
                        return '장소';
                    },
                    titlePlaceholder() {
                        return '일정 제목';
                    },
                    popupSave() {
                        return '일정 추가';
                    },
                    popupEdit() {
                        return '수정';
                    },
                    popupDelete(){
                        return '삭제';
                    },
                },
                theme: {
                    common: { 
                        backgroundColor: '--pico-background-color',
                        dayName: { color: 'var(--pico-color)' },
                        saturday: { color: 'var(--pico-secondary)' }
                    },
                    month: {
                        dayExceptThisMonth: { color: 'var(--pico-color-80)' }
                    }
                }
            };

            const handleNext = () => {
                const calendarInstance = calendarRef.current.getInstance();
                calendarInstance.next();
                updateMonth();
            };

            const handlePrev = () => {
                const calendarInstance = calendarRef.current.getInstance();
                calendarInstance.prev();
                updateMonth();
            };

            const handleToday = () => {
                const calendarInstance = calendarRef.current.getInstance();
                calendarInstance.today();
                updateMonth();
            };

            const updateMonth = () => {
                if (calendarRef.current) {
                const calendarInstance = calendarRef.current.getInstance();
                const viewDate = calendarInstance.getDate();
                setCurrentMonth(`${viewDate.getFullYear()}년 ${viewDate.getMonth() + 1}월`);
                }
            };
        
            return (
                <div className="App">
                    <h1 align="center">{currentMonth}</h1>
                    <ReactCalendar
                        ref={calendarRef}
                        height='100%'
                        view="month"
                        useFormPopup={true}  // 팝업을 사용하도록 설정
                        useDetailPopup={true}
                        week={calendarOptions.week}  // 주간 옵션 전달
                        month={calendarOptions.month} // 월간 옵션 전달
                        template={calendarOptions.template} // 템플릿 옵션 추가
                        calendars={calendars}
                        theme={calendarOptions.theme}
                    />
                    <div className="controls">
                        <button className="control-button" onClick={handlePrev}>이전 달</button>
                        <button className="control-button" onClick={handleToday}>오늘</button>
                        <button className="control-button" onClick={handleNext}>다음 달</button>
                    </div>
                </div>
            );
        };

        // ReactDOM.createRoot 사용하여 렌더링
        const rootElement = document.getElementById('root');
        const root = ReactDOM.createRoot(rootElement);

        root.render(
            <React.StrictMode>
                <App />
            </React.StrictMode>
        );
    </script>
</body>
</html>