<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        body>header, body>footer {
            padding: 0;
        }
        main {
            display: flex;
            flex-direction: column;
            /* margin: 20px 0; */
            padding: 10px;
            overflow-y: auto;
            flex-grow: 1;
            height: 100%;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        main:-webkit-scrollbar {
            display: none;
        }
        article {
            width: 100%;
            color: var(--pico-color);
        }
        article:hover {
            background-color: var(--pico-text-selection-color);
        }
        article:hover header {
            background-color: var(--pico-text-selection-color);
        }
        article main {
            text-align: left;
        }
    </style>
</head>
<body>
    <header>
        <h3>채팅방</h3>
    </header>
    <main>
        <% chatroomList.forEach((chatroom) => { %>
                <article class="chat-room" onclick="location.href='/chat/<%= chatroom.id %>'">
                    <header>
                        <%= chatroom.room_name %>
                    </header>
                    <main>
                        <% if (chatroom.type == 'text') { %>
                            <%= chatroom.chat %>
                        <% } else if (chatroom.type == 'img') { %>
                            이미지를 공유했습니다.
                        <% } else if (chatroom.type == 'payment') { %>
                            결재 요청
                        <% } else if (chatroom.type == 'calendar') { %>
                            일정을 공유했습니다.
                        <% } %>
                    </main>
                </article>
        <% }); %>
    </main>
    <footer>
        <a href="/newchatroom"><button id="new-chat-room">새 채팅방</button></a>
    </footer>
<script>
const newChatButton = document.querySelector('#new-chat-room');
// const rooms = document.querySelectorAll('.chat-room');

// rooms.forEach((room) => {
//     room.addEventListener('click', (e) => {
//         location.href = '/chat'
//     });
// });
</script>
</body>
</html>