<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        main {
            flex-grow: 1;
            overflow-y: auto;
        }
        article.my-chat, article.other-chat {
            width: 60%;
        }
        article.my-chat {
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <header class="container">
        <!-- roomId: </span>{{roomId}}</span><br> -->
        <input type="text" id="user-id" placeholder="username"></input>
    </header>
    <main class="container">
        <div class="msg-cont">
        <% chat_log.forEach((row) => { %>
            <article class=<%= (row.user_id=='my_id') ? 'my-chat' : 'other-chat' %>>
                <header>
                    <%= row.user_id %>
                </header>
                <main>
                    <%= row.chat %>
                </main>
            </article>
            <% }) %>
        </div>
    </main>
    <footer class="container">
        <div class="msg-form" role="group">
            <textarea id="msg"></textarea>
            <button id="submit">submit</button>
        </div>
    </footer>
    <script>
        const socket = io(); 
        const userId = document.querySelector('#user-id');
        // socket.emit('joined', {'name': userId.textContent});
        const cont = document.querySelector('.msg-cont');
        const chat_main = document.querySelector('main.container');
        chat_main.scrollTop = chat_main.scrollHeight;
        

        socket.on('msg', (msg) => {
            const chatbox = document.createElement('article');
            if (msg.name == userId.value) {
                chatbox.className += 'my-chat';
            } else {
                chatbox.className += 'other-chat';
            }
            const header = document.createElement('header');
            header.innerText = msg.name;
            const main = document.createElement('main');
            main.innerText = msg.message;

            chatbox.appendChild(header);
            chatbox.appendChild(main);
            cont.appendChild(chatbox);
            chat_main.scrollTop = chat_main.scrollHeight;
        });
        document.querySelector('#submit').addEventListener('click', (e) => {
            const userMsg = document.querySelector('#msg');
            socket.emit('msg', {'name': userId.value, 'message': userMsg.value});
            userMsg.value = '';
            return false;
        });
    </script>
</body>
</html>