<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문서 요약 챗봇</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <header>
        <nav>
            <!-- 네비게이션 메뉴 -->
            <a href="/calendar">홈으로 돌아가기</a>
        </nav>
    </header>
    <main>
        <h1>문서 기반 보고서 작성</h1>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <label for="user-input">보고서의 주제</label>
            <textarea name="user_input" id="user-input"></textarea>
            <label for="file-upload">참고 자료 선택:</label>
            <input type="file" id="file-upload" name="file" required accept=".pdf" multiple style="display: none;">
            <button type="submit">파일 업로드 및 처리</button>
        </form>
        <div id="result" style="margin-top: 20px;"></div>
    </main>
    <script>
        const form = document.getElementById('upload-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // 기본 폼 제출 동작 방지
            form.querySelector('button[type=submit]').setAttribute('aria-busy', true);
            const resultDiv = document.getElementById('result');
            resultDiv.innerHTML = '';
            const formData = new FormData(form);
            fetch('http://localhost:5100/summary', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.result === 'ok') {
                    resultDiv.innerHTML = `<p>파일이 성공적으로 처리되었습니다.</p>`
                    //     <a href="..${data.processedFilePath}" download>처리된 파일 다운로드</a>
                    // `;
                    const a = document.createElement('a');
                    a.setAttribute('href',`${data.processedFilePath}`);
                    a.innerText = '처리된 파일 다운로드';
                    resultDiv.appendChild(a);
                    a.click();
                } else {
                    resultDiv.innerHTML = `<p>파일 처리에 실패했습니다.: ${data.error}</p>`;
                }
                form.querySelector('button[type=submit]').setAttribute('aria-busy', false);
            })
            .catch(error => {
                console.error('Error:', error);
                resultDiv.innerHTML = `<p>파일 처리 중 오류가 발생했습니다.</p>`;
                form.querySelector('button[type=submit]').setAttribute('aria-busy', false);
            });
        });
    </script>
</body>
</html>
