<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_password_success</title>
    <link rel="stylesheet" href='/css/login_main.css'>
    <link rel="stylesheet" href="/css/find_password_success.css"> <!-- Link to external CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <header class="container">
        <span id="moai-title">MoAI</span>
    </header>
    <div class="sidebar"></div>
    <main class="container">
        <img class="main-image" src="image/슬기로운회사생활_사진_001.jpg" />
        <div class="left-page">
            <h2 class="title">비밀번호 찾기</h2>
            <div class="content">
                <main>
                    <div class="info-message">
                        <div class="info-text">회원님의 비밀번호는 <%= password %>입니다</div>
                    </div>
                </main>
                <footer>
                    <button class="login-button">로그인하기</button>
                </footer>
            </div>
        </div>
    </main>
    <script src="/js/find_password_success.js"></script>
</body>
</html>
