<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_password</title>
    <link rel="stylesheet" href='/css/login_main.css'>
    <link rel="stylesheet" href="/css/find_password.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <header class="container">MoAI</header>
    <div class="sidebar"></div>
    <main class="container">
        <img class="main-image" src="image/슬기로운회사생활_사진_001.jpg" />
        <div class="left-page">
            <h2 class="title">비밀번호 찾기</h2>
            <div class="content">
                <main>
                    <div class="input-group">
                        <label for="username">비밀번호를 찾고자 하는 아이디를 입력해주세요</label>
                        <input type="text" id="user_id" placeholder="ID">
                    </div>
                </main>
                <footer>
                    <button id="submitBtn">다음</button>
                </footer>
            </div>
        </div>
    </main>

    <!-- Link to the external JavaScript file -->
    <script src="/js/find_password.js"></script>
</body>
</html>
