<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_passwordauth</title>
    <link rel="stylesheet" href='/css/login_main.css'>
    <link rel="stylesheet" href="/css/find_passwordauth.css"> <!-- Link to external CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <header class="container">MoAI</header>
    <div class="sidebar"></div>
    <main class="container">
        <img class="main-image" src="image/슬기로운회사생활_사진_001.jpg" />
        <h2 class="title">비밀번호 찾기</h2>
        <div class="content">
            <div class="subtitle">본인 명의 휴대 전화로 인증</div>
            <div class="input-group">
                <label for="phone-front">전화번호</label>
                <div class="input-group">
                    <input type="text" id="phone" name="phone" placeholder="Phone number">
                    <button type="button" id="sendVerificationCode" style="white-space: nowrap;">인증번호 발송</button>
                </div>
                <div role="input-group">
                    <input type="text" id="verification-code" placeholder="6자리 숫자 입력">
                    <!-- <button style="white-space: nowrap;">인증번호 확인</button> -->
                    <button type="button" id="verifyCode">인증번호 확인</button>
                </div>
            </div>
            <button id="submitBtn">다음</button>
        </div>
        <script src="/js/find_passwordauth.js"></script>
    </main>
</body>
</html>