<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat and Calendar Interface</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    
    
</head>
<body>
<div style="display: flex;">
    <aside class="sidebar">
        <header class="sidebar-header">
            <div class="user-profile">
                <img class="user-avatar" src="https://via.placeholder.com/32x32" alt="User Avatar">
                <span class="user-name">사용자명</span>
            </div>
            <div class="actions">
                <div class="action-icon_setting">
                    <img src="../image/setting.png" alt="Setting Icon" />
                </div>
                <div class="action-icon_sidebar">
                    <img src="../image/sidebar.png" alt="Sidebar Icon" />
                </div>
            </div>
        </header>

        <div role="search" class="search-input">
            <!-- <img src="../image/reading_glasses.png" alt="reading_glasses Icon" /> -->
            <input type="search" placeholder="Search for chats...">
            <button class="search-btn">search</button>
        </div>
        
        <nav class="menu">
            <div class="menu-item active">
                <span class="menu-icon">
                    <img src="../image/chat_icon.png" alt="chating Icon" />
                </span>
                <span class="menu-label">채팅</span>
                <div class="badge">1</div>
            </div>
            <div class="menu-item">
                <span class="menu-icon">
                    <img src="../image/project.png" alt="project Icon" />
                </span>
                <span class="menu-label">프로젝트</span>
                <div class="badge">2</div>
            </div>
            <div class="menu-item">
                <span class="menu-icon">
                    <img src="../image/application.png" alt="application Icon" />
                </span>
                <span class="menu-label">어플리케이션</span>
                <div class="badge">3</div>
            </div>
            <div class="menu-item">
                <span class="menu-icon">
                    <img src="../image/quality_control.png" alt="quality_control Icon" />
                </span>
                <span class="menu-label">품목 관리</span>
                <div class="badge">4</div>
            </div>
        </nav>
        <div class="additional-content">
            <div class="additional-section"></div>
            <div class="placeholder"></div>
        </div>
    </aside>
    <main class="main-content">
        <section class="calendar">
            <iframe src="/calendar" frameborder="0" style="height: 100%;"></iframe>
        </section>
        <div style="display: flex; flex-direction: column; width: 40%;">
            <section class="chat-section">
                <header>채팅방</header>
                <main class="chatroom right-content">
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                        <button class="outline">방 이름</button>
                </main>
                <main class="newchatroom right-content" style="display: none;">
                    <% members.forEach((member) => { %>
                        <label>
                            <input type="checkbox" name="<%= member.user_name %>">
                            <%= member.user_name %>
                        </label>
                    <% }) %>
                </main>
                <footer>
                    <button id="new-chat-room">새 채팅방</button>
                    <button id="chat-room-create" style="display: none;">채팅방 생성</button>
                </footer>
            </section>
            <section class="note-section">
                <header>메모장</header>
                <main class="noteroom right-content">
                    <button class="outline">메모 제목</button>
                    <button class="outline">메모 제목</button>
                    <button class="outline">메모 제목</button>
                    <button class="outline">메모 제목</button>
                    <button class="outline">메모 제목</button>
                    <button class="outline">메모 제목</button>
                    <button class="outline">메모 제목</button>
                </main>
                <footer>
                    <button>새 메모</button>
                </footer>
            </section>
        </div>
    </main>
</div>
<script>
const newChatButton = document.querySelector('#new-chat-room');
const createRoomButton = document.querySelector('#chat-room-create');
const chatRoomList = document.querySelector('.chatroom');
const newChatroom = document.querySelector('.newchatroom');

newChatButton.addEventListener('click', () => {
    newChatroom.style.display = 'block';
    chatRoomList.style.display = 'none';
    newChatButton.style.display = 'none';
    createRoomButton.style.display = 'inline-block';
    

});


</script>
</body>
</html>
