<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register_confirm</title>
    <link rel="stylesheet" href='/css/login_main.css'>
    <link rel="stylesheet" href="/css/register_confirm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <header class="container">MoAI</header>
    <div class="sidebar"></div>
    <main class="container">
        <img class="main-image" src="https://via.placeholder.com/650x740" alt="Placeholder Image">
        <div class="left-page">
            <h2 class="title">회원가입 완료!</h2>
            <div class="content">
                <main>
                    <div class="welcome-message">
                        <div class="welcome-text">반갑습니다!! <%= name %>님!!</div>
                    </div>
                </main>
                <footer>
                    <button class="login-button">로그인하기</button>
                </footer>
            </div>
        </div>
    </main>
    <script src="/js/register_confirm.js"></script>
</body>
</html>
