<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/pico.css">
</head>
<body>
    <header>
        <div>
            <h3>마이페이지</h3>
        </div>
    </header>
    <!-- Main Content -->
    <main>
        <form id="setting-form" action="/setting" method="post" enctype="multipart/form-data">
            <div class="main-section">
                <!-- User Info -->
                <div class="user-profile">
                    <div>
                        <div class="profile-image">
                            <img class="user-avatar" 
                            <% if (profileImage) { %>
                                src="<%=profileImage%>"
                            <% } else { %>
                                src="https://via.placeholder.com/120x120" 
                            <% } %>
                            alt="User Avatar">
                        </div>
                        <div class="change_photo">
                            <button type="button" id="change-button">사진 파일 업로드</button>
                            <input type="file" id="file-input" style="display: none;" accept="image/*">
                        </div>
                    </div>
                    <div>
                        <div class="profile-name name"><%= user.user_name %></div>
                        <div class="id">사용자 ID: <%= user.user_id %></div>
                        <div class="phone">전화번호: <%= phone %></div>
                    </div>
                </div>
                <!-- Logout Button -->
                <div class="logout-button">
                    <button type="button" id="logout-button">로그아웃</button>
                </div>
            </div>
        </form>
    </main>
    <script src="/js/setting.js"></script>
</body>
</html>
